@import 'base';
@import '~bootstrap/scss/bootstrap.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  background-color:#f3edf5;;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #514a57;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.contaner-img{
  outline: none;
  width: 360px!important;
}
.table-bordered, .table-bordered td, .table-bordered th,.table thead th {
  border: 1px solid #bca6ca1a;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #bca6ca1a;
}

.header-label{
  background-color: #c1b0ca;
  padding: 15px;
  letter-spacing: 10px;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
}
.table thead th {
 background-color: #ffffff;
}
.content{
  height: auto;
  border-radius: 5px;
  background-color: #ffff;
  margin: auto;
  width: 90%;
  padding: 15px 60px;
}
.slick-next:before, .slick-prev:before {
  line-height: 1;
  color: rgba(121, 121, 121, 0.54);
  font-size: 45px;
  margin: auto;
}

.btn-salon {
  background: #c1b0ca !important;
  color: #fff !important;
}

.loader {
  padding-top: 50px!important;
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #c1b0ca;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.error{
  //padding-top: 30px !important;
  text-align: center;
  overflow-y:hidden!important;
}
